<!DOCTYPE html>
<html>
    <h3>
        Edge
    </h3>
    <p>
        Means local (or near local) processing.
    </p>
    <h3>
        Cloud
    </h3>
    <p>
        Data Center, literally.
    </p>
    <h3> Edge vs Cloud processing</h3>
    <p>
        When using cloud, there needs to be back and forth of http handshake to process the data, <br/>
        but edge device can process whatever it needs on spot. <br/><br/>

        For example, AI algorithm can be processed in the cloud, and get sent to the edge device for action. <br/><br/>

        But the thing is, edge device isn't defined by its characteristics, but its benefits. <br/><br/>

        For example, self-driving cars, that has to be an edge device or things could get kinda dangerous; <br/>
        I mean, if it's cloud running, in a middle of a high way, the disaster could be news worthy. <br/><br/>

        But gaining insights via machine learning algorithm from the millions of sales transactions would have no problem of being cloud run.
    </p>
    <h3>
        OpenVINO has ...
    </h3>
    <p>
        Open Model Zoo - I can grab pre-trained models from here<br/><br/>

        Model Optimizer - converts models <br/><br/>
        
        Inference Engine - used to perform inference on the converted models <br/><br/>

        Stopped at here:
        <a href="https://classroom.udacity.com/nanodegrees/nd132/parts/3eafdf71-b35c-4525-9b2c-d46f7dc300aa/modules/cc8ef708-33e0-472b-a8d6-ed66b8e6f678/lessons/c7e5e1cd-3cfc-4f93-ad6c-fefceab038a6/concepts/a1ce805d-1f29-452e-8340-ef4a115e3fe4">
            https://classroom.udacity.com/nanodegrees/nd132/parts/3eafdf71-b35c-4525-9b2c-d46f7dc300aa/modules/cc8ef708-33e0-472b-a8d6-ed66b8e6f678/lessons/c7e5e1cd-3cfc-4f93-ad6c-fefceab038a6/concepts/a1ce805d-1f29-452e-8340-ef4a115e3fe4
        </a>
    </p>
</html>