<!DOCTYPE html>
<html>
    <h3>
        Edge
    </h3>
    <p>
        Means local (or near local) processing.
    </p>
    <h3>
        Cloud
    </h3>
    <p>
        Data Center, literally.
    </p>
    <h3> Edge vs Cloud processing</h3>
    <p>
        When using cloud, there needs to be back and forth of http handshake to process the data, <br/>
        but edge device can process whatever it needs on spot. <br/><br/>

        For example, AI algorithm can be processed in the cloud, and get sent to the edge device for action. <br/><br/>

        But the thing is, edge device isn't defined by its characteristics, but its benefits. <br/><br/>

        For example, self-driving cars, that has to be an edge device or things could get kinda dangerous; <br/>
        I mean, if it's cloud running, in a middle of a high way, the disaster could be news worthy. <br/><br/>

        But gaining insights via machine learning algorithm from the millions of sales transactions would have no problem of being cloud run.
    </p>
    <h3>
        OpenVINO has ...
    </h3>
    <p>
        Open Model Zoo - I can grab pre-trained models from here<br/><br/>

        Model Optimizer - converts models <br/><br/>
        
        Inference Engine - used to perform inference on the converted models <br/><br/>

        classification - determines what an object is in a given image.<br/><br/>

        segmentation - determines the location of the object in an image pixel by pixel.<br/><br/>

        detection - determines the location of the object.<br/><br/>
    
        ...... <br/><br/>

        After some lectures from Udacity, I now realize that this is just some marketing scheme for OpenVINO.<br/><br/>

        Only thing I've gained from this is the Cloud vs Edge. <br/><br/>

        I think what Dr. Beaty was telling me was wrong. I think he meant to say distributed computing.
    </p>
</html>