<!DOCTYPE html>
<html>
    <h1>
        My learning progress
    </h1>
    <p>
        Was going over this book called Learning Devops (published by Packt), <br/>
        but I didn't like, so I switched over to Testing Angular Application, published by Mannings. <br/> <br/>
        
        I am currently going over the section 3, which has to do with continous integration, where it wants me to install Jenkins.<br/>
        <a href="https://jenkins.io/doc/book/installing/#installing-jenkins">Installing Jenkins</a><br/><br/>

        I am going over the <h3>On macOS and Linux</h3>, and completed the step 1 and 2, where I just have to go over the Jenkins post installation. <br/>
        I tried to spin docker run jenkinsci/blueocean, but told me this: <br/><br/>

        Jenkins initial setup is required. An admin user has been created and a password generated.
        Please use the following password to proceed to installation: <br/>

        This may also be found at: /var/jenkins_home/secrets/initialAdminPassword <br/><br/>
        
        And I am stuck on this for a while, and decided to just install the thing locally. <br/><br/>

        Been making some progress with the below: <br/>
        <a href="https://www.digitalocean.com/community/tutorials/how-to-install-jenkins-on-ubuntu-18-04">Digital Ocean Jenkins tutorial</a>

        Had to restart my computer for some reason and by using systemctl, I was able to get the thing spinning, with the help of below: <br/>
        <a href="https://wiki.jenkins.io/display/JENKINS/Logging">Jenkins loggins</a>

        Hmm, don't know if this is a good place to jot this but ... <br/>
        username: bob <br/>
        password: 1234 <br/>
        localhost:9000 <br/><br/>

        Jenkins is ready!
        <h3> Jenkins is now there, but the book expects you to complete the previous 2 sections.</h3>
    </p>
    <h1>
        Devops journal
    </h1>
    <h3>
        Ansible
    </h3>
    <p>
        Ansible is not CI related tool, nor CD related tool, but it's something called IaC. <br/><br/>
        
        Azure is nice enough that its cloud shell already has Ansible in it.<br/><br/>

        It has a configuration files stored in /etc/ansible/, where I can easily access it via ansible-config view. <br/><br/>

        Ansible has this thing called inventory files, which is essentially a host, orchestrated via Ansible. <br/><br/>

        There is this concept called playbook in Ansibe, that almost always gets coupled with inventory files, <br/><br/>
        where the playbook contains the actions to be executed for Ansible.
    </p>
</html>