<!DOCTYPE html>
<html>
    <h1>
        My learning progress
    </h1>
    <p>
        Was going over this book called Learning Devops (published by Packt), <br/>
        but I didn't like, so I switched over to Testing Angular Application, published by Mannings. <br/> <br/>
        
        I am currently going over the section 3, which has to do with continous integration, where it wants me to install Jenkins.<br/>
        <a href="https://jenkins.io/doc/book/installing/#installing-jenkins">Installing Jenkins</a><br/><br/>

        I am going over the <h3>On macOS and Linux</h3>, and completed the step 1 and 2, where I just have to go over the Jenkins post installation. <br/>
        I tried to spin docker run jenkinsci/blueocean, but told me this: <br/><br/>

        Jenkins initial setup is required. An admin user has been created and a password generated.
        Please use the following password to proceed to installation: <br/>

        This may also be found at: /var/jenkins_home/secrets/initialAdminPassword <br/><br/>
        
        And I am stuck on this for a while, and decided to just install the thing locally. <br/><br/>

        Been making some progress with the below: <br/>
        <a href="https://www.digitalocean.com/community/tutorials/how-to-install-jenkins-on-ubuntu-18-04">Digital Ocean Jenkins tutorial</a>

        Had to restart my computer for some reason and by using systemctl, I was able to get the thing spinning, with the help of below: <br/>
        <a href="https://wiki.jenkins.io/display/JENKINS/Logging">Jenkins loggins</a>

        Hmm, don't know if this is a good place to jot this but ... <br/>
        username: bob <br/>
        password: 1234 <br/>
        localhost:9000 <br/><br/>

        Jenkins is ready!
        <h3> Jenkins is now there, but the book expects you to complete the previous 2 sections.</h3>
    </p>
    <h1>
        Devops journal
    </h1>
    <h3>
        Ansible
    </h3>
    <p>
        Ansible is not CI related tool, nor CD related tool, but it's something called IaC. <br/><br/>
        
        Azure is nice enough that its cloud shell already has Ansible in it.<br/><br/>

        It has a configuration files stored in /etc/ansible/, where I can easily access it via ansible-config view. <br/><br/>

        Ansible has this thing called inventory files, which is essentially a host, orchestrated via Ansible. <br/><br/>

        There is this concept called playbook in Ansibe, that almost always gets coupled with inventory files, <br/><br/>
        where the playbook contains the actions to be executed for Ansible.
    </p>
    <h3>
        Angular
    </h3>
    <p>
        fixture - Stores an instance of the ComponentFixture, which contains methods that help you debug and test a component <br/><br/>

        fake - is an object you use in a test to substitute for the real thing. <br/><br/>

        mock - is a fake that simulates the real object and keeps track of when it’s called and what arguments it receives. <br/><br/>
        
        stub - is a simple fake with no logic, and it always returns the same value. <br/><br/>
        
        However, the above concepts are not specific to Angular, it's a general concepts in testing.<br/><br/>

        fakeAsync - Using fakeAsync ensure that all asynchronous tasks are completed before executing the assertions.<br/><br/>

        It's done like ... <br/><br/>

        describe('loadContact() test', () => {<br/>
            it('should load contact', fakeAsync(() => { <br/>
              component.isLoading = false; <br/>
              component.loadContact(); <br/>
              fixture.detectChanges(); <br/>
            }));<br/>
          });<br/><br/>

        declarations section - that's where I can list the components that the components I am testing need.<br/><br/>

        imports section - sets imports to an array of modules that the component my testing requires.<br/><br/>

        provider section - I can chuck in things like services are in there, those are all "fakes." <br/><br/>

        https://angular.io/api/core/testing/tick The left is suppose to be super useful. <br/><br/>
    </p>
    <h4>
        Angular has directives
    </h4>
    <p>
        Directives are like ... <br/>
        1.) Components <br/>
        2.) Structural directives <br/>
        3.) Attribute directives <br/><br/>

        Components are types of directives, which is a directive that's visible on the browser.<br/><br/>

        There are two types of directives,<br/>
        attributes directives - for changing appearance of a DOM element.<br/>
        structural directives - adds or remove elements from DOM.<br/><br/>

        In the world of testing, I'll need fresh fixtures for each tests.<br/>
        This can be done via beforeEach().<br/><br>

        To make sure those fixture objects are destroyed, we use afterEach() functions.
    </p>
    <h4>
        Just finished the Ch 4, but I wasn't able to fully digest what they wanted me to learn.
    </h4>
    <p>
        From the looks of things, I am guessing they wanted me to learn how to test attribute directives.
    </p>
    <h4>
        Just finished Ch 5. They talked about testing pipes.
    </h4>
    <a href="https://angular.io/guide/pipes">pipes</a>
    <h4>
        Ch 6
    </h4>
    <p>
        This chapter answers the question on why we need dependency injection. <br/><br/>

        The books describes that the reason why DI is needed is because, almost always, <br/>
        we have no idea what we need for our app, so, it might be better to store everything we might need <br/>
        in one place, and have those be injected whenever my app needs'em.<br/><br/>

        <a href="https://github.com/testing-angular-applications/testing-angular-applications/blob/master/chapter06/src/app/contacts/shared/services/contact.service.spec.ts">
            testing-angular-application/chapter06/src/app/contacts/shared/services/contact.service.spec.ts
        </a>
        <br/><br/>

        The above demonstrates on how one can tests Observables and asynchronous behaviors in Angular.
    </p>
    <h4>
        Just finished skimming Ch 7 today, <br/>
        and I can't help but to feel that I should actually go learn more about Angular.
    </h4>
    <h4> ch 10 </h4>
    <p>
        Ch 8-9 are about UI testing and synchrounous/asynchrounous stuff.<br/>
        Ultimately whatever Espresso can do in Android, Protractor can do also. <br/><br/>

        Ch 10 introduces concepts those are bit on the esoteric side of things.<br/>
        Like, being able to test your webapp entirely headless (meaning, no UI) with Protractor.<br/>
        Or, being able to set environment variables. <br/><br/>

        Protractor also enables you to do something called screenshot testing, <br/>
        but it might be better to use Cypress.io for something like that. <br/><br/>

        Starting from Part 3, the book introduces me to CI, <br/>
        which is a system that runs our entire test suite with each changes. <br/><br/>

        enabling us to effortlessly catch issues in a short amount of time (wouldn't it be nice if our QA team actually wrote tests?).
    </p>
    <h4> ch 11</h4>
    <p>
        There is this thing called Karma, which is a test runner (it's weird because test runner isn't really a recognized concept). <br/><br/>

        It executes all the tests and produces a log.<br/><br/>

        Karma can produce a log that can be understood by Jenkins.<br/><br/>

        I was trying to attach a webhook on my repository for Jenkins, but found out that Github doesn't allow localhost.<br/><br/>

        Through this, I can't help but to feel that I will needing a serve of my own for future devops exercises.
    </p>
    <h1>
        Finished the book 
    </h1>
    <p>
        and from the look of things, Angular and Jenkins thing should be done not with the book.

        Non the less, it was a good book.
    </p>
</html>