<html>
    GRE wants you to learn how to write essay ... <br/>
    It's called AWA section, which requires 2 essays. <br/><br/>

    We got the quantative and verbal sections, 2 for each, <br/>
    but they got the freaking experimental section, which
    could be either of those subjects <br/><br/>

    Essay section wants me to write for 1 hour <br/>
    Math wants me to complete 20 questions in 35 minutes. <br/>
    Verbal secion wants me to complete 20 questions in 30 minutes. <br/><br/>

    4 hours and approx 20 mins are given for the entire GRE.<br/><br/>

    Score range is from 130-170 for Math.
    <h1>
        Math
    </h1>
    <p>
        25 problem solving questions and 15 questions are quantative comparison problems.
        <br/><br/>
        Some problems are now boxes; meaning, they are not like ACT,
        <br/> they expect you to write down the answers.
        <br/><br/>
        Data Interpretation problems has to do with charts, graphs, etc ... <br/><br/>

        and they have multiple-answer questions now. <br/><br/>
    </p>
    <h1>Verbal</h1>
    <p>
        Reading comprehension makes up the majority of this section, <br/>
        the text completions 2nd, <br/>
        sentence equivalence 3rd, <br/>
        where reading comprehension has 2 more sections.<br/><br/>

        Text Completions problems has its problems gradually increase in difficulty <br/>
        in their own category. <br/>
        Usually, the third question is the most difficult one.<br/><br/>

        Score range is 130-170.
    </p>
    <h1>AWA</h1>
    <p>
        Ranges from 0.0 - 6.0.
    </p>
    <h1> Computer Adaptive Testing ...</h1>
    <p>
        Current GRE is section adaptive; meaning, <br/>
        if you do incredible in the first math section, <br/>
        second section will become more difficult. <br/><br/>

        Except the quantative comparison tests, where the last question <br/>
        in that section is always the hardest question.

        But if you do terrible in the first match section, <br/>
        the second section will become easier. <br/><br/>

        Every question is worth the same number of points. <br/><br/>

        So? Do the questions that you find easy because I am timed.

        Overall, math test is not question adaptive; meaning, <br/>
        problem doesn't gradually gets easier or hard (during 2011, it was). <br/>
    </p>
    <h1>
        Practice Tests
    </h1>
    <p>
        Powerprep 2 -> Created by the ETS themselves. <br/>
        Magoosh Mock -> Well ... yeah, they made it. <br/><br/>

        Magoosh has a 90 day study schedule, which can be math focused. <br/>
        They also have this study plan for advanced, but they want you to use other <br/>
        resources, aside from Magoosh (which implies that they expect you to spend more money).<br/><br/>

        <a href="https://gre.magoosh.com/90-day-gre-study-plan-pdf-math?utm_source=greblog&utm_medium=blog&utm_campaign=grestudyschedule&utm_content=gre-study-plans-and-guides">
            Math focused 90 days plan.
        </a>
    </p>
    <h1>
        Test Day
    </h1>
    <p>
        There are time slots I can register for, from 8am - 4pm, there might be later ones too ...
    </p>
    <h1>
        GRE Math
    </h1>
    <p>
        GRE quantative section is designed to punish you each time you touch the caculator. <br/>
        Almost always, there is this really elegant solution for each problems. <br/><br/>

        In GRE, from the looks of things, they really want you to eye ball almost everything. <br/><br/>

        지금 15/20문제들을 독학능령이 터무니없이 딸려서 틀리고있다. <br/><br/>

        진짜 문제꼼꼼히 읽으면 풀리는것들을 대놓고 놓친다. <br/><br/>

        For example, one of the problems were: <br/>
        2(7^(1/2)) + 5(7^(1/2)) = a(b^(1/2)) <br/>
        and they wanted me to find (a + b), but I literally put down 7(7^(1/2)) as the answer.<br/>
        어쩔때는 없는 어치를 문제에 쑤셔넣는다. <br/><br/>

        They also expect you to know the summation formula.<br/><br/>
    </p>
    <p>
        Odd + Odd is even. <br/><br/>

        Even + Even is even. <br/><br/>

        Even + Odd is odd. <br/><br/>

        Odd - Odd is even. <br/><br/>
    </p>
</html>