<!DOCTYPE html>
<html>
    <h1>
        On learning in general.
    </h1>
    <br/>
    <h3> Regarding abstrations. </h3>
    <p>
        According to SICP, concept is abstracted when all the concepts those are attched to the target concept are detached. <br/>
        When a concept reaches this state, we can now play around with it however we want, enabling us to scale concepts on top of other without interference; <br/>
        because of this, we must strive abstract the concept we are trying to learn as much as we can.
        <br/><br/><br/>
        In this context, concepts could be considered as software utility/programming methodologies/etc ...
    </p>
    <h3> One of my favorite videos. </h3>
    <a href="https://www.youtube.com/watch?v=WELBnE33dpY"> GOTO 2019 • Intro to Empirical Software Engineering: What We Know We Don't Know • Hillel Wayne </a>
    <h1>
        I find Google tutorials unhelpful.
    </h1>
    <br/>
    <p>
        I remember trying to get my AR app working during the XR hackathon by following along their code lab,<br/>
        but ended up spending about 5+ hours with my teammates and eventually getting stuck on the OpenGL portion. <br/>
        There was clearly a better way to solve whatever we were trying to solve via Sceneform, but tutorial contained nothing of that. 
        <br/><br/><br/>
        In the end, thank God, I was fortunate enough to find a good Medium article on AR to play around with cloud anchors.
        <br/><br/><br/>
        Despite the fact that Retrofit is more used in the industry, I still remember that their official documentation was teaching Volley (not that I have anything against their library).
        <br/><br/><br/>
        At the sametime, I learned how to program Android via using Udacity, instead of using their "getting started."
        <br/><br/><br/>
        Is it just me having this much bad experience with their tutorials?
    </p>
</html>