<!DOCTYPE html>
<html>
    <h1>11/24/19</h1>
    <p>
        Was going over the below today:
    </p>
    <a href="https://kubernetes.io/docs/tutorials/kubernetes-basics/"> https://kubernetes.io/docs/tutorials/kubernetes-basics/</a>
    <p>
        And they were very helpful. </br>
        I never knew that exposing your container for traffic can be easy as what they have.
    </p>
    <h1>11/20/19</h1>
    <h3> I met Uncle Bob. </h3>
    <p>
            Q: I am currently reading this book called “The Software Craftmanship,”  <br/>
            and the author states that having a dedicated QA team is an anti-pattern. Why is that the case? <br/><br/>
            A: So, why the do you think a company is organizing a dedicated QA team for us? <br/>
            They don't trust us, even if we can automate tests! They get raises when they find bugs,<br/> 
            They want bugs! If they are not writing tests, then their existance is an anti-pattern.<br/><br/>

            “Self driving cars is a mad dream … <br/>
            We are now at a plateau for our computing machineries … <br/>
            the exponential rate is now gone, BUT WE ARE ACTING AS WE THOUGH WE HAVE IT ..." <br/> <br/>

            "Universities are not much better than the bootcamps."
    </p>
    <h1>11/19/19</h1>
    <h3> I met Intel engineers. </h3>
    <p>
            Q: (That stereotypical how can I be a better programmer question)  <br/><br/>
            A: First of all, gaining more experiences doesn't make you into a better developer; <br/>
            after all, you are concentrating on a 2 or more projects for years, not furnishing on other things.<br/> 
            Try different things, find the place where you want to be at.<br/><br/>
    </p>
</html>