<!DOCTYPE html>
<html>
    <h1>12/05/19</h1>
    <p>
        Formed a team with (Beep Blap Boop) for ETHDenver.
    </p>
    <h1>12/04/19</h1>
    <p>
        We are gonna do pen-test stuff at work (I think). <br/>
        We are gonna use this thing called (Bleep Blap Boop). <br/><br/>

        There's like, a bunch of security tickets in (Beep Blap Boop), but it's not JIRA. <br/><br/>

        Everything about the security guild is supposedly in our wiki. <br/>

        There is a security team that's constantly bugging us for security stuff. <br/><br/>

        Essentially, there's going to be a lot of interactions between us and them. <br/><br/>

        I need to e-mail him to be part of their security guild. <br/><br/>
        
        You know how the local hack day is sponsored by Microsoft?<br/>
        
        If there are any Github guys, why don't I ask if it's possible to erase some of the Github commit history? <br/><br/>

        We got the green light for being able to exploit our product.
    </p>
    <h1>12/03/19</h3>
    <p>
        I think I understand the reason why dynamic programming is super popular. <br/>
        Things like NgRx, Redux, and ReactiveX in general <br/>
        enables the prorgrammers to nicely deal with asynchrounously processes data. <br/> <br/>
        
        For example, in Firebase, there are a lot things done asynchrounously, <br/>
        and ReactiveX will lessen the pain dramatically by always having state listening for those changes done asynchrounously, <br/>
        while being completely decoupled.
    </p>
    <h1>12/02/19</h1>
    <p>
        Started to play around with this thing called WebRTC.<br/>
        From the looks of things, WebRTC refuses for us to do a screenshare without the chrome extension specified in below: <br/>
        <a href="https://github.com/muaz-khan/WebRTC-Experiment/tree/master/Pluginfree-Screen-Sharing">muaz-khan/WebRTC-Experiment/Pluginfree-Screen-Sharing/</a>
        <br/><br/>
        After installing the extension, Muaz-khan provides a very simple demo of how WebRTC can be used for screen sharing in below: <br/>
        <a href="https://github.com/muaz-khan/WebRTC-Experiment/tree/master/screen-sharing">muaz-khan/WebRTC-Experiment/screen-sharing/</a>
    </p>
    <h1>12/01/19</h1>
    <p>
        Around 1-am or so, I learned that being relatable to someone with no dev related skills and culturally different, or bouncing ideas with them, is very important. <br/>
        I met my old friend name David, and he told me stories about LA's party culture. <br/>
        Absolutely disgusting and quite horifying from an outsider's perspective. <br/>
        He even stated that some of the stuffs he has seen are demanted enough to question his life. <br/>
        Anyways, I showed him my apps, and soon after, he had an idea that could be implemented. <br/><br/>

        "Why can't we write an application that gives out the location of some party through Google Map (only with some special code), <br/>
        but only show the details when the user arrives at the designated location?" <br/> <br/>

        I thought to myself, "well, why don't you just show the users the details soon as the code has been received?" <br/>

        He just thought people love s*** like AR, and they will blow money on anything that looks cool; <br/>
        
        after some silence, I realized where he was getting at. <br/>
        
        In relatively underground scenes in LA and New York, party scenes needs to be more secure and exclusive; <br/>
        because of this, empty looking warehouse without any suspicion tends to be filled with ravers. <br/><br/>

        Some clubs had "exclusive features," provided only to the dedicated VIPs of their club (all of them he told me were horrible). <br/>

        He was trying to tell me that location itself is the secondary password to access additional information about the party, <br/>
        where the Cloud Anchor or Spatial Anchor object contains the details of it; after all, they can only be generated when they are at the actual location. <br/><br/>

        This idea doesn't have to be used for illegal stuff, but it could also be used for professors <br/>
        hiding details about additional class room meetups, or conference administrators hiding details <br/>
        about special dinner invites (Facebook was handing out physical invitations to CppCon attendees, where one could dig through the garbage can and get accepted, which I kinda did ...) <br/>
        
        I am gonna try to implement something like the above during this year's Local Hack Day. <br/>

        Maybe, lesson I've learned from this meeting with him is that developers are here for the folks with no dev skills, <br/>
        it was never the other way around.
    </p>
    <h1>11/30/19</h1>
    <p>
        After I started to think in the mode of thinking I have when I play around with ngRX (aka Redux), <br/>
        I strated to program things with Firebase correctly.
    </p>
    <h1>11/29/19</h1>
    <p>
        Firebase does everything asynchrounously, and that's making things kinda difficult.<br/>
    </p>
    <h1>11/28/19</h1>
    <p>
        Was watching the below videos today:
    </p>
    <a href="https://www.youtube.com/watch?v=n_J13cA4Gj8">Cypress.io – The State of the Art End to End Testing Tool</a> <br/>
    <a href="https://www.youtube.com/watch?v=Dl_XMd_1F6E">Writing Tests For CSS Is Possible! Don’t Believe The Rumors - Gil Tayar | CSSconf EU 2019</a> <br/>
    <a href="https://www.youtube.com/watch?v=6BT2AF9PO5g">Blazor, a new framework for browser-based .NET apps - Steve Sanderson</a> <br/>
    <p>
        Selenium wasn't working when I was playing around with Electron, maybe Cypress will be different?
    </p>
    <br/><br/>
    <p>
        Checked my bank account today, and my subscription was actually refunded.<br/>
        Can hardly it because this was my first positive experience with cloud support ever. 
    </p>
    <h1>11/24/19</h1>
    <p>
        Was going over the below today:
    </p>
    <a href="https://kubernetes.io/docs/tutorials/kubernetes-basics/"> https://kubernetes.io/docs/tutorials/kubernetes-basics/</a>
    <p>
        And they were very helpful. </br>
        I never knew that exposing your container for traffic can be easy as what they have.
    </p>
    <h1>11/20/19</h1>
    <h3> SC 19 </h3>
    <p>
        Just like Gophercon, I didn't feel any growth. <br/>
    </p>
    <h1>11/19/19</h1>
    <h3> I met Intel engineers. </h3>
    <p>
            Intel HPC happened again, and they had enough money to rent out an entire opera house to host their own conference. <br/>

            Q: (That stereotypical how can I be a better programmer question)  <br/><br/>
            A: First of all, gaining more experiences doesn't make you into a better developer; <br/>
            after all, you are concentrating on a 2 or more projects for years, not furnishing on other things.<br/> 
            Try different things, find the place where you want to be at.<br/><br/>

            Turns out, good portion of the engineers I've met at the conference were initially just programmers without
            any HPC backgrounds, but they somehow strolled into HPC programming.<br/><br/>

            Except this one guy who showed me the physical form of DC Optane, where he got his fundings cut off twice, 
            and grad school telling him to go take classes again ... that sucks.
    </p>
    <h1>11/19/19</h1>
    <h3> I met Uncle Bob. </h3>
    <p>
            Q: I am currently reading this book called “The Software Craftmanship,”  <br/>
            and the author states that having a dedicated QA team is an anti-pattern. Why is that the case? <br/><br/>
            A: So, why the do you think a company is organizing a dedicated QA team for us? <br/>
            They don't trust us, even if we can automate tests! They get raises when they find bugs,<br/> 
            They want bugs! If they are not writing tests, then their existance is an anti-pattern.<br/><br/>

            “Self driving cars is a mad dream … <br/>
            We are now at a plateau for our computing machineries … <br/>
            the exponential rate is now gone, BUT WE ARE ACTING AS WE THOUGH WE HAVE IT ..." <br/> <br/>

            "Universities are not much better than the bootcamps." <br/>
    </p>
    <a href="https://github.com/another-available-username/CSU-Hackathon-Stuff">CSU Hackathon stuff</a>
    <h1>10/20/2019</h1>
    <a href="https://www.research.colostate.edu/create/">XR Hackathon</a>
    <p>
        First time I've ever won something in the hackathon. <br/>
        I am quite proud of the fact that my application was the only AR application during the hackathon. <br/>
        Later that week, I also participated in this hackathon called Mile-high hack, and I wonder if they'll comeback?
        <br/><br/>
    </p>
    <h1>09/27-29/2019</h1>
    <a href="https://www.techtoprotectchallenge.org/participate-in-person/">Tech to Protect</a>
    <p>
        I went their with 2 other guys, but I was pretty much the only person contributing to the project. <br/>
        The other guy claimed that he was pretty fluent in ML side of things, but he literally had 0% contribution to the project. <br/>
        Wish I had a confidence like him time to time.
        <br/><br/>
        Below is the stuff that I've worked on.
    </p>
    <a href="https://github.com/another-available-username/TechToProtect-Challenge-3/tree/master/ARTechToProtect"> AR stuff.</a> <br/>
    <h1>09/19-21?/2019</h1>
    <a href="https://wyohackathon.io/">Wyohackathon 2019</a> <br/>
    <p>
        I wasn't actually writing anything for hackathon, but I was trying out the things I've learned about from CppCon. <br/>
    </p>
    <a href="https://github.com/another-available-username/TSAndWASM">WASM stuff</a>
    <h1>09/13-18/2019</h1>
    <p>
        CppCon happened, and it gave me enough courage to quit one of my job. <br/>
        I learned that some learnings aren't just worth it to invest your time in because your growth is insignificant when compared to other learnings. <br/>
        I had the privillage to ask a question to Bjarne Strousp.
        <br/><br/>
        Q: As a computer science student, what are some of the pitfalls I need avoid? <br/>
        A: Don't underestimate your problem. <br/>
        Answer?: It pisses me off when people don't respect the fundamental ideas behind certain concepts!
        <br/><br/>
        Later that night, I was just walking around the conference and found a ticket lying around in the hall way for Facebook's special dinner invite. <br/>
        I went their and had a conversation with one of the lead R&D engineer for their new AR glasses.
        <br/><br/>
        He took off his glasses and told me, <br/>
        "we need to have an AR app running in something small as this, that's why we are looking for C++ programmers to create a new operating system with us."
    </p>
    <h1>Nothing too exciting happened from March to August, aside from the fact that I got hired on with Comcast.</h1>
    <h1>02/23/19</h1>
    <a href="https://hackcuv.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">HackCU 5</a> <br/>
    <p>
        HackCU happened again. <br/>
        It was great.
    </p>
    <h1>02/15-17/19</h1>
    <a href="https://2019.ethdenver.com/">ETHDenver 2019</a> <br/>
    <p>
        ETHDenver cameback, and it was one of the greatest event I've ever been to. <br/>
        They had dancers climbing pole looking things, and liquors coming in left and right. <br/>
        They had dedicated sleeping room, yoga place (why though?), and etc ... <br/>
    </p>
    <h1>02/09/19</h1>
    <a href="https://t9hacks-spring2019.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">T9Hacks</a> <br/>
    <p>
        Went their to potentially get an internship with BubbleIQ (I think that's the name of their company), <br/>
        but they weren't interested.
    </p>
    <h1>12/???/18</h1>
    <a href="https://mlh-local-hack-day-2018.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">LHD</a> <br/>
    <p>
        Went their alone, and I remember just learning Rust.
    </p>
    <h1>11/???/18</h1>
    <a href="https://phase.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">Phase</a><br/>
    <p>
        I went to the above hackathon with one of the interns from Holochain. <br/>
        His name is Suraj.
    </p>
    <h1>10/???/18</h1>
    <a href="https://cu-blockchain-competition-7020.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">CU Blockchain Conference</a> <br/>
    <p>
        It was suppose to be a hackathon, but they ran out of money to host one?
    </p>
    <h1>09/14-16/18</h1>
    <p> 
        I went to Gophercon with one of my friend. <br/>
        Looking back at it, I didn't notice any growth after coming back from it. <br/>
    </p>
    <h1>08/10-19?/18</h1>
    <p>
        I remember working at Trimble, and this intern came up to our cubicles, asking for a software development position. <br/>
        One of my senior told that person to follow the formal procedure by applying to a position you are interested in the website. <br/>
        I still remember my other senior smirking and stating, "gotta follow the rules if you want to play in the big league." <br/>
    </p>
    <h1>07/13-15/18</h1>
    <p>
        I went to a Holochain hackathon.<br/>
        This hackathon enabled me to get an internship with them. <br/>
    </p>
    <h1>07/???/18</h1>
    <p>
        I went to an AnDev|360.<br/>
    </p>
    <h1>06/8-10/2018</h1>
    <a href="http://communities.techstars.com/usa/denver/startup-weekend/12010">Startup Weekend Denver EDU</a> <br/>
    <p>
        Went to this with one of the teammates from ETHDenver and HackCU I participated in the hackathon with. <br/>
        He was socializing and I was programming in a dark room, but I don't have any ill feelings against him. <br/>
    </p>
    <h1>04/29/18</h1>
    <a href="https://devpost.com/software/xbuildtrimble">XBuild</a> <br/>
    <p> 
        Not sure on the reasons, but my former teammates didn't participate in this hackathon with me.<br/>
        The below was what I've created, <br/> 
    </p> 
    <a href="https://github.com/another-available-username/XBuildTrimble">XBuildTrimble</a> <br/>
    <p> 
        This hackathon was where I started to get interested in this study called "machine perception."<br/>
        This person introduced me to this concept called "visual odometry," which it enables the program to remember it's traversed course. <br/>
    </p>
    <h1>04/15/2018</h1>
    <a href="https://cublockchain.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">CU Blockchain hackathon</a> <br/>
    <p>
        I spent the entire day, trying to set up the environment for Ethereum. <br/>
        In the end, I wasn't able to.
    </p>

    <h1>02/27/18</h1>
    <a href="https://hackcu4.devpost.com/">HackCU 4</a> <br/>
    <p> 
        The above hackathon was how I got my first job.<br/>
        The below was what we created, <br/> 
    </p> 
    <a href="https://github.com/dataSmugglers/TrendLore">it was called TrendLore.</a> <br/>
    <h1>02/16-18/18</h1>
    <a href="http://2018.ethdenver.com/">ETHDenver 2018</a> <br/>
    <p> 
        The above happened, and it was great fun. <br/>
        The below was what we created, <br/> 
    </p> 
    <a href="https://github.com/dataSmugglers/stormburst">it was called Stormburst.</a> <br/>
    <p>
        Through this hackathon, I was able to fully recognize and convince that cocky portion of myself that I am not the best. <br/>
        I still remember those two guys seating in front of us, they were in their 30s. <br/>
        They haven't left their seat for 20+ hours straight. <br/>
    </p>
    <h1>2017</h1>
    <p> 
        Before SC17 happened, Intel was hosting an HPC conference. <br/> 
        I went there alone.
    </p> 
</html>