<!DOCTYPE html>
<html>
    <h1>01/01/20</h1>
    <p>
        RedHeadband currently needs the below implementations:<br/><br/>

        From the main editor, the app needs to take the class name for its temp file. <br/><br/>

        Then, it needs to crop away the XXXXX that gets appended to the temp file name. <br/><br/>

        Finally, the app has to compile and run the app, that's it. <br/><br/>

        Objectives:
        pomodres for work <br/>
        2 pomodres on CI for Angular <br/> 
        3 pomodre on red head band. <br/>
        Look into Magoosh, and decide on when's the good time to purchase.
    </p>
    <h1>12/29/19</h1>
    <p>
        Turns out, this whole 45-15 rule has a name called pomodoro technique.<br/>

        Let's get my laundary done today, for good.<br/>
        When finished, do whatever.
    </p>
    <h1>12/28/19</h1>
    <p>
        7 cycles on my userstory, or til its transparent issue is figured out. <br/>
        When finished, do whatever. <br/><br/>

        Redhead band is now able to generate a widget upon clicking run.<br/>
    </p>
    <h1>12/27/19</h2>
    <p>
        How one evaluates themselves in their craft is pivotal in their journey; <br/><br/>

        <a href="https://www.youtube.com/watch?v=gIAuGs8WL44">therefore, we have to continuously evaluate ourselves while studying/working</a> <br/><br/>

        to prevent outselves heading into the wrong direction. <br/><br/>

        The current user story that I am on requires the BrowserWindows to be transparent. <br/>
        If this is not possible, then the user story can't be completed. <br/><br/>

        RedHeadband now expands as the window frame resizes.
    </p>
    <h1>12/26/19</h2>
    <p>
        Finishes the Testing Angular Application, published by Mannings. <br/><br/>

        It'd be nice if I can set up CI for our project by end of this year. <br/><br/>
        
        First, let's try to set up the for my own project. <br/><br/>

        Regarding the RedHeadband:<br/>
        1.) No line numbers.<br/>
        2.) The layout isn't expanding gracefully when you resize the window.<br/>
        3.) It's slow for a simple app...?
    </p>    
    <h1>12/25/19</h1>
    <p>
        Found an interesting post on C++ and Qt on fstream :<br/>
        <a href="https://stackoverflow.com/questions/27935840/fstream-does-not-function-in-qt-creator">
            Stack Overflow post.
        </a><br/>
        but it wasn't the answer.<br/><br/>

        If I wanted to save a file, I had to do it in a Qt way.<br/>
        <a href="https://forum.qt.io/topic/76962/problem-with-ifstream-and-qt-creator/8">Qt forum</a><br/><br/>

        But the above didn't work either, where I used the absolute path of where I want the file to be saved, then it worked. <br/><br/>

        There is no zoom out on Qt creator for "design" portion.
        <a href="https://www.qtcentre.org/threads/69286-How-to-Zoom-out-Designer-view-of-the-UI"></a> <br/><br/>

        And those text files has been saving in this folder called: build-RedHeadband-Desktop ... that actually makes sense.<br/>
        <a href="https://stackoverflow.com/questions/14831096/file-input-file-not-being-read-qt">On loading files in Qt.</a>
    </p>
    <h1>12/24/19</h1>
    <p>
        Whatever code/GUI I look at, I need to start generating the "branching tree of concepts," in my head <br/>
        Meaning, when I look at BrowserWindow, I need to start drawing a tree in my head, notifying myself things like ... <br/><br/>

        BrowserWindow can be transparent ... <br/>
        can have backgroud colors ... <br/>
        can change fontsize ... <br/><br/>

        in a form of tree. In a form of tree because node can branch out to something ... <br/><br/>

        Also, I need to admit being a human means to loose focus, where my focus need to be in a form of oscillation.<br/>
        <a href="https://www.youtube.com/watch?v=fLvd5bpRV4Y">it's in Korean.</a><br/><br/>

        When I am learning something new, I need to have a clear goal, and read/write to achieve that goal.<br/><br/>

        For example, when reading a new book, if reading cover to cover is not the objecting, then only pick out the info those are needed for my learning<br/><br/>

        아이디어 하나있는데.<br/><br/>

        다른사람이 나 대신 증강현실에다<br/> 
        아이템 꽂아주는 서비스는 어떨까?<br/>

        그러니깐, 스크린쉐어링이나닌 캠 쉐어링인데, <br/>
        그캠이 증강현실인거.<br/><br/>

        예를들어, 내가 앱을키고, 다른사람이 내 앱이보고있는걸 볼수있는데, 클라우드 앵커꼿는건 나만이아닌 다름사람도 할수있는기능.
    </p>
    <h1>
        12/22/19
    </h1>
    <p>
        Electron has two processes: <br/><br/>

        Renderer process and main process. <br/><br/>

        All BrowserWindows are wrapped in renderer process, and the process gets destroyed when the window gets destroyed. <br/><br/>

        From the looks of things, "fill parent" is not really a concept in Qt? <br/>
        <a href="https://stackoverflow.com/questions/3492739/auto-expanding-layout-with-qt-designer"> because ...</a>
    </p>
    <h1>
        12/21/19
    </h1>
    <p>
        Been trying to test something with router, but am stuck on the portion where '/' is not equalling to '/projects',<br/>
        maybe testing routing is more suitable for integration/end-to-end testing?
    </p>
    <h1>
        Been going over this book called Testing Angular Application, published by Mannings,
    </h1>
    <p>
        and many of the examples of theirs aren't sinking into my head well.<br/>
        I can't help but to feel that it's because of my lack of experience in Angular.<br/><br/>

        I should really go learn about it in depth before I move on to end-to-end testing section in the book.<br/><br/>

        So, back to ch 4?
    </p>
    <h1>12/18/19</h1>
    <p>
        <a href="https://alligator.io/angular/angular-pwa/">There is this thing called audit.</a><br/><br/>
        And it looks like something that's uber handy.
        <a href="https://harshi.me/">One of the most interesting UX I've seen.</a><br/>
        <p>I was pondering on how to navigate the website for a good minute, but it's one of the most visually attractive pages I've seen.</p>
    </p>
    <p>
        Before next year ends, I'd like to finish the below: <br/><br/>

        WebAssembly in Action - Gerard Gallant
    </p>
    <h1>12/12/19</h1>
    <p>
        Software Engineering at Google by <br/>
        Hyrum Wright, Tom Manshreck, Titus Winters <br/><br/>

        One of the tool that they talk about that's internal to Google is called Rosie. <br/>
        When you search for it, nothing shows up. <br/><br/>

        Just finished a book called Software Craftmanship, and it talks about this book called Driving Tech, Terrance Ryan. <br/><br/>
        
        The scalability issue of Ethereum comes from DAG (directed acyclic graph).
    </p>
    <h1>12/11/19</h1>
    <p>
        Because of for each loop introduced in C++11, we no longer have to do things like: <br/><br/>
        
        // without the 'auto' keyword<br/>
        std::vector<Task*>::const_iterator iterator = mTasks.toStdVector().begin();<br/><br/>

        // with the 'auto' keyword, how many neurones did you save?<br/>
        auto autoIter = mTasks.toStdVector().begin(); 
    </p>
    <h1>12/10/19</h1>
    <p>
        Was talking with one of the students at MSU Denver, and got to show him what I made at LHD. <br/><br/>

        He started to talk about how AR would be helpful to visualize certain things for scientists.<br/><br/>

        We started to look at things from the ecologist's persepctive; for example, let's say I am an ecologist,
        and I am at some lake to do a study. <br/>

        Just carrying around the pictures containing information of the place isn't enough; as the time pass by, <br/>
        structure of the lake could change, and whatever picture the I have might've taken during the day when I am <br/>
        doing my research at night, where the information and the picture could mislead me. <br/><br/>

        With AR and the ckoud anchors, however, I can conduct my research on the lake more easily because information <br/>
        that I need are around the site, anchored, with little room for incoherency. <br/> <br/>

        Through this conversation, I can tie a data to a very specific location, not only a password. <br/><br/>

        Ultimately, ARObjects can be tied to whatever we have in our reality. <br/><br/>

        Interesting how I missed a conference: <br/>
        <a href="http://www.mi-summit.com/events/mobile-innovation-summit-2019/event-summary-a6d9d941149d4ed8ad8199f68018d6f7.aspx">MI Summit</a> <br/><br/>
        
        Been playing around with Qt creator, and I am kinda happy and scared by the fact that some quick keys here is in mixture of IntelliJ and VS Code. <br/><br/>
        
        C++, what a great culture. <br/><br/>

        <a href="https://thispointer.com/difference-between-vector-and-list-in-c/">List is not contigus, but Vector is.</a>
    </p>
    <h1>12/09/19</h1>
    <p>
        I feel this everytime when I program something C++ that's at least toe deep, <br/>
        it makes me feel like I am at a place where time seems to be frozen. <br/> <br/>
        Documentations are usually old, along with the Stack Overflow posts, <br/>
        but the tech is still managing to be relevant with today's things.
    </p>
    <h1>12/07/19</h1>
    <p>
        Attended LHD at Boulder.<br/>
        Made the below:<br/>
    </p>
    <a href="https://github.com/another-available-username/FifthPracticeBucket/tree/master/GMapStuff/PaulTuts">now that I think about it, isn't this the "strand" from Death Stranding?</a>
    <h1>12/05/19</h1>
    <p>
        Formed a team with (Beep Blap Boop) for ETHDenver.
    </p>
    <h1>12/04/19</h1>
    <p>
        We are gonna do pen-test stuff at work (I think). <br/>
        We are gonna use this thing called (Bleep Blap Boop). <br/><br/>

        There's like, a bunch of security tickets in (Beep Blap Boop), but it's not JIRA. <br/><br/>

        Everything about the security guild is supposedly in our wiki. <br/>

        There is a security team that's constantly bugging us for security stuff. <br/><br/>

        Essentially, there's going to be a lot of interactions between us and them. <br/><br/>

        I need to e-mail him to be part of their security guild. <br/><br/>
        
        You know how the local hack day is sponsored by Microsoft?<br/>
        
        If there are any Github guys, why don't I ask if it's possible to erase some of the Github commit history? <br/><br/>

        We got the green light for being able to exploit our product.
    </p>
    <h1>12/03/19</h3>
    <p>
        I think I understand the reason why dynamic programming is super popular. <br/>
        Things like NgRx, Redux, and ReactiveX in general <br/>
        enables the prorgrammers to nicely deal with asynchrounously processes data. <br/> <br/>
        
        For example, in Firebase, there are a lot things done asynchrounously, <br/>
        and ReactiveX will lessen the pain dramatically by always having state listening for those changes done asynchrounously, <br/>
        while being completely decoupled.
    </p>
    <h1>12/02/19</h1>
    <p>
        Started to play around with this thing called WebRTC.<br/>
        From the looks of things, WebRTC refuses for us to do a screenshare without the chrome extension specified in below: <br/>
        <a href="https://github.com/muaz-khan/WebRTC-Experiment/tree/master/Pluginfree-Screen-Sharing">muaz-khan/WebRTC-Experiment/Pluginfree-Screen-Sharing/</a>
        <br/><br/>
        After installing the extension, Muaz-khan provides a very simple demo of how WebRTC can be used for screen sharing in below: <br/>
        <a href="https://github.com/muaz-khan/WebRTC-Experiment/tree/master/screen-sharing">muaz-khan/WebRTC-Experiment/screen-sharing/</a>
    </p>
    <h1>12/01/19</h1>
    <p>
        Around 1-am or so, I learned that being relatable to someone with no dev related skills and culturally different, or bouncing ideas with them, is very important. <br/>
        I met my old friend name David, and he told me stories about LA's party culture. <br/>
        Absolutely disgusting and quite horifying from an outsider's perspective. <br/>
        He even stated that some of the stuffs he has seen are demanted enough to question his life. <br/>
        Anyways, I showed him my apps, and soon after, he had an idea that could be implemented. <br/><br/>

        "Why can't we write an application that gives out the location of some party through Google Map (only with some special code), <br/>
        but only show the details when the user arrives at the designated location?" <br/> <br/>

        I thought to myself, "well, why don't you just show the users the details soon as the code has been received?" <br/>

        He just thought people love s*** like AR, and they will blow money on anything that looks cool; <br/>
        
        after some silence, I realized where he was getting at. <br/>
        
        In relatively underground scenes in LA and New York, party scenes needs to be more secure and exclusive; <br/>
        because of this, empty looking warehouse without any suspicion tends to be filled with ravers. <br/><br/>

        Some clubs had "exclusive features," provided only to the dedicated VIPs of their club (all of them he told me were horrible). <br/>

        He was trying to tell me that location itself is the secondary password to access additional information about the party, <br/>
        where the Cloud Anchor or Spatial Anchor object contains the details of it; after all, they can only be generated when they are at the actual location. <br/><br/>

        This idea doesn't have to be used for illegal stuff, but it could also be used for professors <br/>
        hiding details about additional class room meetups, or conference administrators hiding details <br/>
        about special dinner invites (Facebook was handing out physical invitations to CppCon attendees, where one could dig through the garbage can and get accepted, which I kinda did ...) <br/>
        
        I am gonna try to implement something like the above during this year's Local Hack Day. <br/>

        Maybe, lesson I've learned from this meeting with him is that developers are here for the folks with no dev skills, <br/>
        it was never the other way around.
    </p>
    <h1>11/30/19</h1>
    <p>
        After I started to think in the mode of thinking I have when I play around with ngRX (aka Redux), <br/>
        I strated to program things with Firebase correctly.
    </p>
    <h1>11/29/19</h1>
    <p>
        Firebase does everything asynchrounously, and that's making things kinda difficult.<br/>
    </p>
    <h1>11/28/19</h1>
    <p>
        Was watching the below videos today:
    </p>
    <a href="https://www.youtube.com/watch?v=n_J13cA4Gj8">Cypress.io – The State of the Art End to End Testing Tool</a> <br/>
    <a href="https://www.youtube.com/watch?v=Dl_XMd_1F6E">Writing Tests For CSS Is Possible! Don’t Believe The Rumors - Gil Tayar | CSSconf EU 2019</a> <br/>
    <a href="https://www.youtube.com/watch?v=6BT2AF9PO5g">Blazor, a new framework for browser-based .NET apps - Steve Sanderson</a> <br/>
    <p>
        Selenium wasn't working when I was playing around with Electron, maybe Cypress will be different?
    </p>
    <br/><br/>
    <p>
        Checked my bank account today, and my subscription was actually refunded.<br/>
        Can hardly it because this was my first positive experience with cloud support ever. 
    </p>
    <h1>11/24/19</h1>
    <p>
        Was going over the below today:
    </p>
    <a href="https://kubernetes.io/docs/tutorials/kubernetes-basics/"> https://kubernetes.io/docs/tutorials/kubernetes-basics/</a>
    <p>
        And they were very helpful. </br>
        I never knew that exposing your container for traffic can be easy as what they have.
    </p>
    <h1>11/20/19</h1>
    <h3> SC 19 </h3>
    <p>
        Just like Gophercon, I didn't feel any growth. <br/>
    </p>
    <h1>11/19/19</h1>
    <h3> I met Intel engineers. </h3>
    <p>
            Intel HPC happened again, and they had enough money to rent out an entire opera house to host their own conference. <br/>

            Q: (That stereotypical how can I be a better programmer question)  <br/><br/>
            A: First of all, gaining more experiences doesn't make you into a better developer; <br/>
            after all, you are concentrating on a 2 or more projects for years, not furnishing on other things.<br/> 
            Try different things, find the place where you want to be at.<br/><br/>

            Turns out, good portion of the engineers I've met at the conference were initially just programmers without
            any HPC backgrounds, but they somehow strolled into HPC programming.<br/><br/>

            Except this one guy who showed me the physical form of DC Optane, where he got his fundings cut off twice, 
            and grad school telling him to go take classes again ... that sucks. <br/><br/>

            They talked about about Intel One API, pmem.io, and mod simd. <br/><br/>

            "There are no answers."
    </p>
    <h1>11/19/19</h1>
    <h3> I met Uncle Bob. </h3>
    <p>
            Q: I am currently reading this book called “The Software Craftmanship,”  <br/>
            and the author states that having a dedicated QA team is an anti-pattern. Why is that the case? <br/><br/>
            A: So, why the do you think a company is organizing a dedicated QA team for us? <br/>
            They don't trust us, even if we can automate tests! They get raises when they find bugs,<br/> 
            They want bugs! If they are not writing tests, then their existance is an anti-pattern.<br/><br/>

            “Self driving cars is a mad dream … <br/>
            We are now at a plateau for our computing machineries … <br/>
            the exponential rate is now gone, BUT WE ARE ACTING AS WE THOUGH WE HAVE IT ..." <br/> <br/>

            "Universities are not much better than the bootcamps." <br/>
    </p>
    <h1>10/20/2019</h1>
    <a href="https://www.research.colostate.edu/create/">XR Hackathon</a>
    <p>
        First time I've ever won something in the hackathon. <br/>
        I am quite proud of the fact that my application was the only AR application during the hackathon. <br/>
        Later that week, I also participated in this hackathon called Mile-high hack, and I wonder if they'll comeback?
        <br/><br/>
        <a href="https://github.com/another-available-username/CSU-Hackathon-Stuff">CSU Hackathon stuff</a>
        <br/><br/>
        6명? 정도 있었는데. 증강현실 프로그램 만들어본사람은 나뿐이였고. 결국엔 혼자서만 프로그램밍을 하고있었다. <br/> 
        이긴거엔 그다지 기쁘지않았는데, 기쁜건 겨우 2일만에 실력이 증폭했다는건데. <br/>
        구글 투토리얼들이 그다지 효율성이없고, Medium article이나, 너도 나도 같은 사람들이 짠 투토리얼들이 더 더욱 효과가있었다.<br/><br/>

        근대, 그건 왜움들이지, 내 안에있는 뭐가 성장했는지 모르겠다. 고민해봐야 돼겠다.<br/><br/>

        나는 기억하고건가? 내가 결정적으로 성장했던 순간들을?<br/><br/>

        I remember now. When I was able to get a lot done in short amount of time, it was after I was looking at the below picture: <br/><br/>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj4bFlbp94OJp8tU-BkMUB0_qPP1q4nfLAXA2LcIDjtDOm1xoU&s"/> <br/><br/>
        분명, 그땐 이렇게 생각했다, "나도 날고싶다."
    </p>
    <h1>09/27-29/2019</h1>
    <a href="https://www.techtoprotectchallenge.org/participate-in-person/">Tech to Protect</a>
    <p>
        I went their with 2 other guys, but I was pretty much the only person contributing to the project. <br/>
        The other guy claimed that he was pretty fluent in ML side of things, but he literally had 0% contribution to the project. <br/>
        Wish I had a confidence like him time to time.
        <br/><br/>
        Below is the stuff that I've worked on.
        <br/><br/>
        Around this time, I finished this book called "Clean Agile."
    </p>
    <a href="https://github.com/another-available-username/TechToProtect-Challenge-3/tree/master/ARTechToProtect"> AR stuff.</a> <br/>
    <h1>09/19-21?/2019</h1>
    <a href="https://wyohackathon.io/">Wyohackathon 2019</a> <br/>
    <p>
        I wasn't actually writing anything for hackathon, but I was trying out the things I've learned about from CppCon. <br/>
    </p>
    <a href="https://github.com/another-available-username/TSAndWASM">WASM stuff</a>
    <h1>09/13-18/2019</h1>
    <p>
        CppCon happened, and it gave me enough courage to quit one of my job. <br/>
        I learned that some learnings aren't just worth it to invest your time in because your growth is insignificant when compared to other learnings. <br/>
        I had the privillage to ask a question to Bjarne Strousp.
        <br/><br/>
        Q: As a computer science student, what are some of the pitfalls I need avoid? <br/>
        A: Don't underestimate your problem. <br/>
        Answer?: It pisses me off when people don't respect the fundamental ideas behind certain concepts!
        <br/><br/>
        Later that night, I was just walking around the conference and found a ticket lying around in the hall way for Facebook's special dinner invite. <br/>
        I went their and had a conversation with one of the lead R&D engineer for their new AR glasses.
        <br/><br/>
        He took off his glasses and told me, <br/>
        "we need to have an AR app running in something small as this, that's why we are looking for C++ programmers to create a new operating system with us."
    </p>
    <h1>Nothing too exciting happened from March to August, aside from the fact that I got hired on with Comcast.</h1>
    <h1>02/23/19</h1>
    <a href="https://hackcuv.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">HackCU 5</a> <br/>
    <p>
        HackCU happened again. <br/>
        It was great.
    </p>
    <h1>02/15-17/19</h1>
    <a href="https://2019.ethdenver.com/">ETHDenver 2019</a> <br/>
    <p>
        ETHDenver cameback, and it was one of the greatest event I've ever been to. <br/>
        They had dancers climbing pole looking things, and liquors coming in left and right. <br/>
        They had dedicated sleeping room, yoga place (why though?), and etc ... <br/>
    </p>
    <h1>02/09/19</h1>
    <a href="https://t9hacks-spring2019.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">T9Hacks</a> <br/>
    <p>
        Went their to potentially get an internship with BubbleIQ (I think that's the name of their company), <br/>
        but they weren't interested.
    </p>
    <h1>12/???/18</h1>
    <a href="https://mlh-local-hack-day-2018.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">LHD</a> <br/>
    <p>
        Went their alone, and I remember just learning Rust.
    </p>
    <h1>11/???/18</h1>
    <a href="https://phase.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">Phase</a><br/>
    <p>
        I went to the above hackathon with one of the interns from Holochain. <br/>
        His name is Suraj.
    </p>
    <h1>10/???/18</h1>
    <a href="https://cu-blockchain-competition-7020.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">CU Blockchain Conference</a> <br/>
    <p>
        It was suppose to be a hackathon, but they ran out of money to host one?
    </p>
    <h1>09/14-16/18</h1>
    <p> 
        I went to Gophercon with one of my friends. <br/>
        Looking back at it, I didn't notice any growth after coming back from it. <br/>
    </p>
    <h1>08/10-19?/18</h1>
    <p>
        I remember working at Trimble, and this intern came up to our cubicles, asking for a software development position. <br/>
        One of my senior told that person to follow the formal procedure by applying to a position you are interested in the website. <br/>
        I still remember my other senior smirking and stating, "gotta follow the rules if you want to play in the big league." <br/>
    </p>
    <h1>07/13-15/18</h1>
    <p>
        I went to a Holochain hackathon.<br/>
        This hackathon enabled me to get an internship with them. <br/>
    </p>
    <h1>07/???/18</h1>
    <p>
        I went to an AnDev|360.<br/>
    </p>
    <h1>06/8-10/2018</h1>
    <a href="http://communities.techstars.com/usa/denver/startup-weekend/12010">Startup Weekend Denver EDU</a> <br/>
    <p>
        Went to this with one of the teammates from ETHDenver and HackCU I participated in the hackathon with. <br/>
        He was socializing and I was programming in a dark room, but I don't have any ill feelings against him. <br/>
    </p>
    <h1>04/29/18</h1>
    <a href="https://devpost.com/software/xbuildtrimble">XBuild</a> <br/>
    <p> 
        Not sure on the reasons, but my former teammates didn't participate in this hackathon with me.<br/>
        The below was what I've created, <br/> 
    </p> 
    <a href="https://github.com/another-available-username/XBuildTrimble">XBuildTrimble</a> <br/>
    <p> 
        This hackathon was where I started to get interested in this study called "machine perception."<br/>
        This person introduced me to this concept called "visual odometry," which it enables the program to remember it's traversed course. <br/>
    </p>
    <h1>04/15/2018</h1>
    <a href="https://cublockchain.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=portfolio">CU Blockchain hackathon</a> <br/>
    <p>
        I spent the entire day, trying to set up the environment for Ethereum. <br/>
        In the end, I wasn't able to.
    </p>

    <h1>02/27/18</h1>
    <a href="https://hackcu4.devpost.com/">HackCU 4</a> <br/>
    <p> 
        The above hackathon was how I got my first job.<br/>
        The below was what we created, <br/> 
    </p> 
    <a href="https://github.com/dataSmugglers/TrendLore">it was called TrendLore.</a> <br/>
    <h1>02/16-18/18</h1>
    <a href="http://2018.ethdenver.com/">ETHDenver 2018</a> <br/>
    <p> 
        The above happened, and it was great fun. <br/>
        The below was what we created, <br/> 
    </p> 
    <a href="https://github.com/dataSmugglers/stormburst">it was called Stormburst.</a> <br/>
    <p>
        Through this hackathon, I was able to fully recognize and convince that cocky portion of myself that I am not the best. <br/>
        I still remember those two guys seating in front of us, they were in their 30s. <br/>
        They haven't left their seat for 20+ hours straight. <br/>
    </p>
    <h1>2017</h1>
    <p> 
        Before SC17 happened, Intel was hosting an HPC conference. <br/> 
        I went there alone.
    </p> 
</html>