<!DOCTYPE html>
<html>
    https://inside.mines.edu/~hzhang/ <br/>
    https://inside.mines.edu/~whoff/ <br/>
    http://inside.mines.edu/Information-Systems-and-Sciences <br/>
    https://www.mines.edu/graduate-admissions/summer-deadlines/ <br/>
    https://www.mines.edu/graduate-admissions/spring-deadlines/ <br/>
    https://www.mines.edu/graduate-admissions/fall-deadlines/ <br/>
    https://gradprograms.mines.edu/cs/ <br/>
    https://medium.com/mindorks/dagger-android-part-1-31ede7ad1998 <br/>
    http://www.mi-summit.com/events/mobile-innovation-summit-2019/event-summary-a6d9d941149d4ed8ad8199f68018d6f7.aspx <br/>
    https://www.fool.com/mortgages/2017/05/24/dont-sign-a-mortgage-until-you-can-answer-these-6.aspx <br/>
    https://cs.stanford.edu/admissions/checklist <br/>
    Is the above really it? I wonder. I should e-mail someone about it. <br/>
    https://www.mines.edu/graduate-admissions/domestic-applicants/<br/>
    The above is the admission requirements for Mines.<br/>
    https://magoosh.com/<br/>
    Ahern told me to do the above.<br/>
    https://www.ets.org/gre/subject/register/centers_dates/<br/>
    GRE test dates above. <br/>
    https://docs.microsoft.com/en-us/microsoft-edge/hosting/webview2 <br/>
    https://www.online.colostate.edu/certificates/embedded-systems-certificate/ <br/>
    http://users.ece.utexas.edu/~valvano/Volume1/E-Book/C1_EmbeddedSystemsShapeTheWorld.htm <br/>
    https://embeddedartistry.com/beginners/<br/>
    https://inside.mines.edu/~whoff/<br/>
    https://arbook.icg.tugraz.at/ <br/>
    The above is the professor that's currently the person who's pioneering the AR. <br/>
    https://en.wikipedia.org/wiki/Hype_cycle <br/>
    Wait, if the above is true, then, the whole ML hype is actually at a plateau of productivity? <br/>
    https://en.wikipedia.org/wiki/AI_winter <br/>
    Then again, what if we get a second AI winter? <br/>
    https://github.com/topics/voicemeeter <br/>
    https://github.com/dechamps?tab=repositories <br/>
    https://github.com/dechamps/AudioMeterEvent <br/>
    https://github.com/dechamps/FlexASIO <br/>
    https://en.wikipedia.org/wiki/Cyber-physical_system <br/>
    https://en.wikipedia.org/wiki/CAN_bus <br/>
    https://comma.ai/ <br/>
    https://voidlinux.org/ <br/>
    https://jumpnowtek.com/downloads/rpi/ <br/>
    https://en.wikipedia.org/wiki/Event_calculus <br/>
    http://www.softwarepreservation.org/projects/prolog/
</html>