<!DOCTYPE html>
<html>
https://inside.mines.edu/~hzhang/ <br/>
https://inside.mines.edu/~whoff/ <br/>
http://inside.mines.edu/Information-Systems-and-Sciences <br/>
https://www.mines.edu/graduate-admissions/summer-deadlines/ <br/>
https://www.mines.edu/graduate-admissions/spring-deadlines/ <br/>
https://www.mines.edu/graduate-admissions/fall-deadlines/ <br/>
https://gradprograms.mines.edu/cs/ <br/>
https://medium.com/mindorks/dagger-android-part-1-31ede7ad1998 <br/>
https://github.com/another-available-username <br/>
http://www.mi-summit.com/events/mobile-innovation-summit-2019/event-summary-a6d9d941149d4ed8ad8199f68018d6f7.aspx
</html>