<html>
    https://www.packtpub.com/cloud-networking/networking-fundamentals <br/>
    https://www.manning.com/books/unit-testing <br/>
    The Google Résumé: How to Prepare for a Career and Land a Job at Apple, Microsoft, Google, or any Top Tech Company<br/>
    오자병법이란게 있는지도 몰랐네: http://changingminds.org/disciplines/warfare/wu_zi/wu_zi.htm<br/>
    Custom Raspberry Pi Interfaces: Design and Build Hardware Interfaces for the Raspberry Pi (Percipio)<br/>
    Real-Time Embedded Components and Systems with Linux and RTOS (Percipio) <br/>
    Building Embedded Systems—Programmable Hardware (Percipio) <br/>
    Exploring Raspberry Pi: Interfacing to the Real World with Embedded Linux (Percipio) <br/>
    Pro Linux Embedded Systems (Percipio) <br/>
    Embedded C Programming—Techniques and Applications of C and PIC MCUS (Percipio) <br/>
    Real-Time Systems Development (Percipio) <br/>
    I have more embedded reading list in my work Slack.
</html>