<!DOCTYPE html>
<html>
    <h1> This is how I started using Github.</h1> <br/><br/>
    <p>
        This tutorial assumes that you already have Git installed. <br/><br/>
        
        Like the below, first, create a new repository in your Github account.
    </p>
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/tostart.png?raw=true"/>
    <p>
        Fill in the required info.
    </p>
    <h1 style="color: red;"> BE SURE TO CHECK THE CREATE README</h1>
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/newrepo.png?raw=true"/>
    <p>
        Copy the thing that it shows, after you click the clone or download.
    </p>
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/clonethething.png?raw=true"/>
    <p>
        Now, assuming you are using Windows, please use cmd; in my case, I am using bash because I am using Linux.
        <br/><br/>

        Type in the command in the below picture. <br/><br/>
    </p>    
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/cloneit.png?raw=true"/>
    <p>
        Make any file. In my case, I am just creating a text file. <br/><br/>
    </p>
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/sayhi.png?raw=true"/>
    <p>
        Type in all the commands you see below. <br/><br/>
    </p>
    <img src="https://github.com/another-available-username/FifthPracticeBucket/blob/master/AzurePrac/myExpressApp/views/ForDoncey/finally.png?raw=true"/>
</html>