<!DOCTYPE html>
<html>
    <h1> This is how I started using Github.</h1> <br/><br/>
    <p>
        This tutorial assumes that you already have Git installed. <br/><br/>
        
        Like the below, first, create a new repository in your Github account.
    </p>
    <img src="./tostart.png"/>
    <p>
        Fill in the required info.
    </p>
    <h1 style="color: red;"> BE SURE TO CHECK THE CREATE README</h1>
    <img src="./newrepo.png"/>
    <p>
        Copy the thing that it shows, after you click the clone or download.
    </p>
    <img src="./clonethething.png"/>
    <p>
        Now, assuming you are using Windows, please use cmd; in my case, I am using bash because I am using Linux.
        <br/><br/>

        Type in the command in the below picture. <br/><br/>
    </p>    
    <img src="./cloneit.png"/>
    <p>
        Make any file. In my case, I am just creating a text file. <br/><br/>
    </p>
    <img src="./sayhi.png"/>
    <p>
        Type in all the commands you see below. <br/><br/>
    </p>
    <img src="./finally.png"/>
</html>