<ul ngbNav class="some-nav nav-tabs" id="bar" (scroll)=onScroll($event)>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
</ul>