<ul ngbNav class="some-nav nav-tabs">
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
  <li>
    <a>
      asd
    </a>
  </li>
</ul>